EIS_Project/tibco_project_input/GatewayRouterOutbound/GatewayRouterOutbound/ProjectComponents/GWROutbound/Resources/Schemas/EDITransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Venu Mandulapalli (Harvard Pilgrim Health Care) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Venu Mandulapalli (Harvard Pilgrim Health Care) -->
	<xs:element name="ediTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="trxType">
					<xs:annotation>
						<xs:documentation>EDI Transaction type e.g EDI-270/EDI-276</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="EDI-270"/>
							<xs:enumeration value="EDI-271"/>
							<xs:enumeration value="EDI-276"/>
							<xs:enumeration value="EDI-277"/>
							<xs:enumeration value="EDI-277ACK"/>
							<xs:enumeration value="EDI-278"/>
							<xs:enumeration value="EDI-835"/>
							<xs:enumeration value="EDI-837"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="trackingID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Channel Adapter assigns a unique identifier to identify the realtime transactions</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="submitterChannel" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Authorized channel to submit transactions e.g NEHEN-FTP/HTRIO-FTA/HTS-SOAP</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="NEHEN-TCP"/>
							<xs:enumeration value="NEHEN-FTP"/>
							<xs:enumeration value="HTRIO-FTA"/>
							<xs:enumeration value="HTS-SOAP"/>
							<xs:enumeration value="TEST-HARNESS"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="realTimeTransaction" type="xs:boolean" default="true">
					<xs:annotation>
						<xs:documentation>A boolean indicating whether or not this particular transaction is to be handled as a realtime transaction. By default the value is set to true</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="simulatedTransaction" type="xs:boolean" default="false" minOccurs="0"/>
				<xs:element name="ediData" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Typical Instance use of schema is for real time transactions
N.B. Because EDI data streams can contain characters that must be 
escaped in XML, the actual EDI data must be bounded by "[ C D A T A [" and "] ]" (without intervening spaces) 
directives within the element
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ediBatch-Info" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="batchTrackingID" type="xs:string">
								<xs:annotation>
									<xs:documentation>Unique identifier to  identify the batch file transactions</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="batch-requestFileInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fileLocation" type="xs:string"/>
										<xs:element name="fileName" type="xs:string"/>
										<xs:element name="fullName" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="batch-responseFileInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fileLocation" type="xs:string"/>
										<xs:element name="ack997Location" type="xs:string" minOccurs="0"/>
										<xs:element name="TA1Location" type="xs:string" minOccurs="0"/>
										<xs:element name="transaction-file" type="transaction-file" minOccurs="0">
											<xs:annotation>
												<xs:documentation>XML Meta file indicating the file drop is successfull</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="transaction-file">
		<xs:sequence>
			<xs:element name="file">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="type" type="xs:string" use="required"/>
					<xs:attribute name="size" type="xs:unsignedLong"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="destination">
				<xs:complexType>
					<xs:attribute name="type" type="xs:string"/>
					<xs:attribute name="id" type="xs:integer"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
