EIS_Project/tibco_project_input/IESN_BatchFileAdapter_27X/SharedResource/Schemas/LoggingService.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema" xmlns:xdb = "http://xmlns.oracle.com/xdb"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<!--
|=| =======================================================================================
|=|  DRAFT: 2006-04-19 
|=|  Description: 
|=|                      
|=|  
|=| =======================================================================================
-->
	
	<xs:element name = "LoggingService" type = "LogService_Type"/>
	<xs:complexType name = "LogService_Type">
		<xs:sequence>
			<xs:element name = "LogHeader" type = "LogHeader_Type"/>
			<xs:element name = "SagaHeader" type = "SagaHeader_Type" minOccurs = "0"/>
			<xs:element name = "LogBody" type = "LogBody_Type" minOccurs = "0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "LogHeader_Type">
		<xs:sequence>
			<xs:element name = "ApplicationName" type = "xs:string"/>
			<xs:element name = "ProcessName" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "Source" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "From" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "To" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "TransactionID" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "BatchID" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "ProcessID" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "LogTimestamp" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "Desc" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "LogType" type = "LogType_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "SagaHeader_Type">
		<xs:sequence>
			<xs:element name = "EventName" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "EventType" type = "xs:string" minOccurs = "0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "LogBody_Type">
		<xs:sequence>
			<xs:element name = "PayloadType" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "Payload" xdb:SQLType = "CLOB" type = "xs:anyType" minOccurs = "0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name = "LogType_Type">
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "LOG"/>
			<xs:enumeration value = "NORMAL"/>
			<xs:enumeration value = "REPORT"/>
			<xs:enumeration value = "INFORMATION"/>
			<xs:enumeration value = "DEBUG"/>
			<xs:enumeration value = "ERROR"/>
			<xs:enumeration value = "WARNING"/>
			<xs:enumeration value = "PROCESS"/>
			<xs:enumeration value = "AUDIT"/>
			<xs:enumeration value = "NOTIFY"/>
			<xs:enumeration value = "LOW"/>
			<xs:enumeration value = "HIGH"/>
			<xs:enumeration value = "NONE"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>